<%= simple_form_for @transaction do |f| %>
  <%= f.input :type %>
  <%= f.input :amount %>
  <%= f.input :created_at %>

  <%= f.input :reoccuring, :as => :boolean %>
  <%= f.input :starting_from %>
  <%= f.input :reoccuring_until %>

  <%= f.button :submit, "Income" %>
  <%= f.button :submit, "Outgoing" %>
  <p>
    <span class="income"> Income: <%= @monthly_income %> </span>
  </p>
  <p>
    <span class="outgoing"> Outgoing: <%= @monthly_outgoing %> </span>
  </p>
  <p>
    <span class="total"> Total: <%= @monthly_total %> </span>
  </p>
<% end %>
