<div class="span10">
  <%= simple_form_for @transaction, :url => transactions_path, :html => { :class => 'well' }, :defaults => { :input_html => {:class => 'span4'} } do |f| %>
    <%= f.input :type %>
    <%= f.input :amount %>

    <%= f.input :created_at %>
    <%= f.input :reoccuring, :as => :boolean %>

    <%= f.input :starting_from %>
    <%= f.input :reoccuring_until %>

    <%= f.button :submit, "Income" %>
    <%= f.button :submit, "Outgoing" %>
  <% end %>
</div>
<div class="span5">
  <p>
    <span class="income"> Income: <%= @monthly_income %> </span>
  </p>
  <p>
    <span class="outgoing"> Outgoing: <%= @monthly_outgoing %> </span>
  </p>
  <p>
    <span class="total"> Total: <%= @monthly_total %> </span>
  </p>
</div>
