<!DOCTYPE html>
<html lang="en">
<head>
  <title>MyFi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li> <%= link_to "Dashboard", transactions_path %></li>
          <li> <%= link_to "New transaction", new_transaction_path %></li>
          <li> <%= link_to "Financial Breakdown", financial_breakdown_index_path %></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <%= yield %>
  </div>

</body>
</html>
